.logo {
  height: auto;
}
.size-xsm {
  width: 16px;
}
.size-sm {
  width: 24px;
}
.size-md {
  width: 32px;
}
.size-lg {
  width: 40px;
}
.size-xlg {
  width: 48px;
}
.size-xxlg {
  width: 64px;
}

#appBarLogo {
  margin-right: 8px;
}
