.logo {
  height: auto;
}
.size-xsm {
  max-width: 16px;
}
.size-sm {
  max-width: 24px;
}
.size-md {
  max-width: 32px;
}
.size-lg {
  max-width: 40px;
}
.size-xlg {
  max-width: 48px;
}
.size-xxlg {
  max-width: 64px;
}
